.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
  %h4.modal-title
    = @task.new_record? ? 'New' : 'Edit'
    %span.semi-bold Task

= form_for [@project, @task], html: { class: 'form-horizontal task-form' } do |f|
  .modal-body
    #error_explanation
    .form-group
      = f.label :name, class: 'col-sm-3 control-label'
      .col-sm-5
        = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :deadline, class: 'col-sm-3 control-label'
      .col-sm-5
        = f.text_field :deadline, value: (f.object.deadline ? f.object.deadline : Date.current).strftime('%d/%m/%Y'),
                              placeholder: "dd/mm/yyyy",
                              'data-behaviour' => 'datepicker',
                              class: 'form-control datepicker'
    .form-group
      .col-sm-3.control-label
      .col-sm-5
        = f.check_box :mark_as_done
        = "mark as done"

  .modal-footer
    .pull-right
      = f.submit "Submit", class: 'btn btn-default'
- unless @task.new_record?
  .modal-header
    %h4.modal-title= "Comments"
  .modal-body
    = form_for Comment.new, html: { class: 'form-horizontal comment-form' } do |f|
      = f.hidden_field :commentable_id, value: @task.id
      = f.hidden_field :commentable_type, value: @task.class.name
      .form-group
        .col-sm-1.control-label
        .col-sm-8
          = f.text_area :comment, class: 'form-control', placeholder: 'Add you comment'
        .col-sm-3
          .pull-right
            = f.submit "Send", class: 'btn btn-default'

    %div{ id: "task-#{@task.id}-comments", class: "comments-list" }
      = render partial: 'comments/comment', collection: @task.comments

